.form {
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  .form img {
    width: 105px;
    height: 105px;
    margin-left: 1vh;
    margin-top: 15vh;
    margin-bottom: -5vh;
  }
  
  .logo{
    display: flex;
    
  }
  .image {
    width: 30vh;
    height: 50vh;
    margin-top: -10vh;
    margin-left: -35vh;
  }
  .name{
    width: 30vw;
    color: #003E59;
    font-size: 2rem;
    font-family: inter;
    font-weight: 700;
    margin-top: 20vh;
    margin-right: 550vh;

  }
  
  .title {
    color: #004B6B;
    margin-top: -30px;
    font-weight: 600;
    font-size: 2rem;
    font-family: inter;
    font-weight: 700;
    margin: 5vh;
    margin-left: 74vh;
    
  }
  .App {
    display: "block";
    margin: "2px auto";
    text-align: center;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    margin-top: -30px;
  }
  
  .input {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 5px;
    padding: 1vw 1vw;
    outline: none;
    margin-top: 10px;
  }
  .label-text-text-error {
    font-size: 12px;
    color: red;
    margin-right: 350px;
    width: 20vh;
  }
  .label-text-text-error1 {
    font-size: 12px;
    color: red;
    margin-right: 310px;
    width: 50vh;
  }
  .label-text-text-error2 {
    font-size: 12px;
    color: red;
    margin-right: 200px;
    width: 28vh;
  }
