.body {
    max-width: 100%;
  }
  
  #navlinks {
    background-color: rgb(244, 245, 245);
    cursor: pointer;
    /* margin-inline-start: 2px; */
  }
  #navlinks:hover {
    background-color: #f8f9fa;
    width: 214px;
    height: 47px;
    border-radius: 6px;
    color: #FFB90A;
  }
  .header {
    display: inline-flex;
    margin-inline-start: 2vh;
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.22px;
  }
  .addBtn {
    border-radius: 10px;
    background: #FFB90A;
    width: 165px;
    height: 42px;
    flex-shrink: 0;
    /* margin-left: 700vh; */
  }
  .Pg2buttons {
    display: grid;
    grid-template-columns: auto auto;
    margin-inline-start: -10vh;
  }
  .Pg2buttons .addBtn {
    border-radius: 10px;
    border: 2px solid #070502;
    width: 105px;
    height: 42px;
    flex-shrink: 0;
    margin-left: 113vh;
    background-color: #FFB90A;
  }
  
  /* ////////////////////////////////////////////// */
  
  /* Pop up */
  
  .popup {
    display: inline-flex;
    padding: 58.737px 46.989px;
    flex-direction: column;
    align-items: center;
    gap: 68.722px;
    background: var(--dark-text-ffffff, #fff);
  }
  .formGroup label {
    display: flex;
    color: var(--Text-Color, #1a1a1a);
    font-family: Inter;
    font-size: 12.335px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .formGroup input {
    display: flex;
    padding: 17.621px 10.573px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 3.524px;
    border: 0.881px solid var(--Grey-AA-Large, #949494);
    background: var(--dark-text-ffffff, #fff);
    width: 433px;
    height: 52.3px;
    margin: 5px;
  }
  .ubutton button {
    width: 112.775px;
    height: 42.291px;
    padding: 7.048px 31.718px;
    justify-content: center;
    align-items: center;
    gap: 3.524px;
    flex-shrink: 0;
    border-radius: 7.048px;
    background: #004b6b;
    margin-left: 6vh;
    margin-top: 2vh;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .ubutton button:hover {
    background: #62757e;
  }
  
  .ubutton button p {
    text-decoration: none;
    color: #ffffff;
    font-feature-settings: "clig" off, "liga" off;
    padding-top: 1vh;
    font-family: Open Sans;
    font-size: 15.859px;
    font-style: normal;
    font-weight: 600;
    line-height: 12.335px; /* 77.778% */
  }
  .bookingInfo,
  .personalInfo {
    margin: 2vh;
  }
  
  .bookingInfo .infoInput {
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .bookingInfo .infoInput h6 {
    color: #858585;
    font-family: Roboto;
    font-size: 17.233px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }
  .bookingInfo .infoInput h5 {
    color: #1c1b1b;
    font-family: Roboto;
    font-size: 17.233px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }

  /* Confirmation Modal Styles */
.confirmation-modal1 {
	position: fixed;
	top: 15%;
	left: 15%;
	transform: translate(-50%, -50%);
	background-color: #2e0d0d;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-width: 900px;
  width: "800px";
	text-align: center;
	z-index: 8000;
  width: 800px;
  height: 52.3px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* Semi-transparent black */
	z-index: 999;
	/* Ensure the overlay appears above other content */
}

.confirmation-modal1 h3 {
	margin-bottom: 90px;
  font-size: small;
}

.confirmation-modal1 button {
	padding: 10px 40px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 1px;
	transition: background-color 0.3s ease;
}

/* .confirmation-modal1 textarea {
	margin-right: "90px";
} */

.confirmation-modal1 button.btn-primary {
	background-color: #03202b;
	color: #fff;
}

.confirmation-modal1 button.btn-secondary {
	background-color: #c4c4c4;
	color: #fff;
}

.confirmation-modal1 button.btn-primary:hover,
.confirmation-modal1 button.btn-secondary:hover {
	background-color: #03202b;
}
  /* .personalInfo .pInput h6 {
    color: #858585;
  
    font-family: Roboto;
    font-size: 17.233px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }
   */
  .thirdbookingInfo {
    width: 429.971px;
    height: 357.092px;
    flex-shrink: 0;
    background-color: rgba(246, 249, 255, 1);
  }
  .thirdbookingInfo .infoInput {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 4vh;
    margin-inline-start: 8vh;
  }
  .thirdbookingInfo h5 {
    margin: 5vh;
    margin-inline-start: 15vh;
    font-size: 18.522px;
  }
  
  /* ////////Booking2 */
  .MainContent2 {
    display: grid;
    grid-template-columns: auto auto;
    border: #000 solid 0.1;
    margin-top: 8vh;
    margin-inline-start: 2vh;
  }
  .MainContent2 h6 {
    color: #b5b7c0;
  
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
  }
  .MainContent2 .firstCol {
    display: grid;
    grid-template-rows: auto auto;
    align-items: flex-start;
  }
  /* .MainContent2 .firstCol .firstcola { */
    /* display: flex; */
    /* align-items: flex-start; */
  /* } */
  /* bulkbooking content2 */
  .BulkContent {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5vh;
  }
  .BulkContent .UserInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-inline-start: 20vh;
  }
  .BulkContent .MatchInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-inline-start: 20vh; */
  }
  .BulkContent h6 {
    color: #b5b7c0;
    margin-top: 2vh;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.18px;
  }
  
  /* manageUser2 */
  .MuserInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5vh;
    margin-left: 20vh;
  }
  .MuserInfo div {
    margin-left: 5vh;
    align-items: flex-start;
  }
  .box {
    width: 598px;
    height: 384px;
    flex-shrink: 0;
    fill: var(--dark-text-ffffff, #fff);
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px;
    margin-left: 40vh;
    overflow-y: scroll;
  }
  