/* Table Styles */
/* table {
	max-width: 1300px;
	height: 250px;
	border-collapse: collapse;
	margin: 50px auto;
	border: 1px solid #ccc;
	border-radius: 8px;
}

tr {
	background: #fffbf4;
	color: rgb(0, 0, 0);
	font-weight: bold;
	height: 85px;
}

th,
td {
	padding: 10px;
	border: 1px solid #141414;
	text-align: center;
	font-size: 18px;
}

th {
	background-color: #fae7cb;
	font-weight: 700;
}

tr:nth-child(even) {
	background-color: #fafafa;
} */

/* Button Container Styles */
.button-container {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	width: 650px;
	margin: 0 auto;
}

.button-container button {
	padding: 10px 40px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	background-color: #004b6b;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	transition: background-color 0.3s ease;
}

.button-container button:last-child {
	margin-right: 0;
}

.button-container button:hover {
	background-color: #003245;
}

/* Confirmation Modal Styles */
.confirmation-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-width: 300px;
	text-align: center;
	z-index: 1000;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* Semi-transparent black */
	z-index: 999;
	/* Ensure the overlay appears above other content */
}

.confirmation-modal p {
	margin-bottom: 20px;
}

.confirmation-modal button {
	padding: 10px 40px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 10px;
	background-color: #003245;
	transition: background-color 0.3s ease;
}

.confirmation-modal button:last-child {
	margin-right: 0;
}

.confirmation-modal button.btn-primary {
	background-color: #003245;
	color: #fff;
}

.confirmation-modal button.btn-secondary {
	background-color: #003245;
	color: #fff;
}

.confirmation-modal button.btn-primary:hover,
.confirmation-modal button.btn-secondary:hover {
	background-color: #525758;
}

/* Responsive Styles */
@media only screen and (max-width: 760px) {
	.button-container {
		flex-direction: column;
		align-items: center;
	}

	.button-container button {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 600px) {

	th,
	td {
		padding: 10px;
	}
}